{# Create classes array. The 'node' class is required for contextual edit links.
Permet d'ajouter des classes dynamiques ou non aux éléments du markup
#}
{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class

] %}
{% set titre_attribute = create_attribute() %}
{% set image_attribute = create_attribute() %}
{% set imagecontainer_attribute = create_attribute() %}

{% set zone1_attribute = create_attribute() %}
{% set zone2_attribute = create_attribute() %}
{% set zone3_attribute = create_attribute() %}
{% set zone4_attribute = create_attribute() %}

{% set planLycee_attribute = create_attribute() %}
{% set formationsLycee_attribute = create_attribute() %}
{% set entrefilet_attribute = create_attribute() %}
{% set insererform_attribute = create_attribute() %}
{% set vueblocgalerie_attribute = create_attribute() %}
{% set logoLycee_attribute = create_attribute() %}
{% set logoLDM_attribute = create_attribute() %}

{% set titre_classes = [
'titre_overlay',
'titre_page',
'titre-' ~ node.bundle|clean_class
]
%}
{% set image_classes = [
'diapo-lycee',
'illustration-'~ node.bundle|clean_class,
'image--type-' ~ node.bundle|clean_class
]%}
{% set imagecontainer_classes = [
'imagecontainer',
'type-' ~ node.bundle|clean_class
]
%}
{% set zone1_classes = [
'zone_layout_max_centre',
'type-' ~ node.bundle|clean_class
]
%}
{% set zone2_classes = [
'zone_layout_max_centre',
'type-' ~ node.bundle|clean_class
]
%}
{% set zone3_classes = [
'zone1_layout_7_5',
'type-' ~ node.bundle|clean_class
]%}
{% set zone4_classes = [
'zone2_layout_7_5',
'type-' ~ node.bundle|clean_class
]%}
{# zone_layout_max_centre zone1_layout_7_5 zone2_layout_7_5 #}

{% set planLycee_classes = [
'gmap-lycee',
'label-' ~ node.field_lycee_gmap.fieldDefinition.name | replace({"_" : "-"}),
'type-' ~ node.bundle|clean_class
]%}
{% set entrefilet_classes = [
'entrefilet',
'label-' ~ node.field_entrefilet.fieldDefinition.name | replace({"_" : "-"}),
'type-' ~ node.bundle|clean_class
]%}
{% set formationsLycee_classes = [
'lycee-formation',
'label-' ~ node.field_formations_lycee.fieldDefinition.name | replace({"_" : "-"}),
'type-' ~ node.bundle|clean_class
]%}
{% set vueblocgalerie_classes = [
'galerie',
'type-' ~ node.bundle|clean_class
]%}
{% set logoLycee_classes = [
'logo-lycee',
'label-' ~ node.field_logolycee.fieldDefinition.name | replace({"_" : "-"}),
'type-' ~ node.bundle|clean_class
]%}
{% set logoLDM_classes = [
'logo-lycee-metiers',
'label-' ~ node.field_logo_lyc_metiers.fieldDefinition.name | replace({"_" : "-"}),
'type-' ~ node.bundle|clean_class
]%}
{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}
<!--______________NODE TPL POUR PAGE.TPL CUSTOM ________________ -->
<article{{ attributes.addclass(classes).setattribute('id', 'node-'~node.id) }}>

  {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
    <header>
      {{ title_prefix }}
      {% if not page and label %}
        <h2{{ title_attributes.addClass(title_classes) }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}

      {% if display_submitted %}
        <div class="submitted">
          {{ author_picture }}
          {% trans %}Submitted by
          {{ author_name }}
          on
          {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      {% endif %}

      {% if not node.published %}
        <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
      {% endif %}
    </header>
  {% endif %}

  <!--______________ ILLUSTRATION et TITRE ________________ -->
  <div {{ imagecontainer_attribute.addClass(imagecontainer_classes).setAttribute('id', 'zone-illustration') }}>

    {% set image_deco = content.field_illus_administratif | render | trim %}
    {% if image_deco or node.label is not empty %}
      <div {{image_attribute.setAttribute('id', 'illustration-pleinepage').addClass(image_classes) }}>
        <h1 {{ titre_attribute.addClass(titre_classes) }}>{{node.label}}</h1>
        {{ content.field_illus_administratif.0}}
      </div>
    {% endif %}
  </div>
  <!-- /zone-illustration -->

  <!--______________ZONE 1________________ -->
  <div {{ zone1_attribute.addClass(zone1_classes).setAttribute('id', 'zone-1') }}>

    {% if node.field_logolycee is not empty %}
      <aside {{ logoLycee_attribute.addClass(logoLycee_classes) }}>
        {{ content.field_logolycee.0 }}
      </aside>
    {% endif %}
    {% if node.field_logo_lyc_metiers is not empty %}
      <aside {{ logoLDM_attribute.addClass(logoLDM_classes) }}>
        {{ content.field_logo_lyc_metiers.0 }}
      </aside>
    {% endif %}
    {% if node.field_adresse_lycee or
    node.field_telephone_lycee or
    node.field_lycee_contact or
    node.field_lycee_site or
    node.field_lycee_cde
    is not empty %}
      <span class="lycee-coordlogo">
        {{ content.field_adresse_lycee.0 }}
        <span class="tel-lycee">
          {{ content.field_telephone_lycee.0 }}
        </span>
        <span class="liens-lycee">
          {{ content.field_lycee_site.0 }}
          {{ '-' | raw}}
          {{ content.field_lycee_contact.0 }}
        </span>
        <span class="cde-lycee">
          {# récupération du nom (label) du champ #}
          {{ content.field_lycee_cde['#title'] }}
          {{ ':' | raw}}
          {{ content.field_lycee_cde.0 }}
        </span>
      </span>
    {% endif %}

    {% include directory ~ '/includes/regions_inc/inc_region_zone_1.html.twig' %}

  </div>
  <!-- /zone-1-->

  <!--______________ZONE 2________________ -->
  <div {{ zone2_attribute.addClass(zone2_classes).setAttribute('id', 'zone-2') }}>
    <div{{ content_attributes.addclass('content') }}>
      {% if node.field_entrefilet is not empty %}
        <blockquote {{ entrefilet_attribute.addClass(entrefilet_classes) }}>
          {{ content.field_entrefilet.0 }}
        </blockquote>
      {% endif %}
      {{ content.body }}
    </div>
    <!-- /.content -->
    {% include directory ~ '/includes/dedicates_inc/inc_videos_embed.html.twig' %}
    {% include directory ~ '/includes/regions_inc/inc_region_zone_2.html.twig' %}

  </div>
  <!-- /zone-2 -->
  <!--______________ ZONE 3 ________________ -->
  <div {{ zone3_attribute.addClass(zone3_classes).setAttribute('id', 'zone-3') }}>

    {# Insertion des formations via un champ Viewfield #}
    {% if node.field_formations_lycee is not empty %}
      <aside {{ formationsLycee_attribute.addClass(formationsLycee_classes) }}>
        {{ content.field_formations_lycee.0 }}
      </aside>
    {% endif %}

    {% include directory ~ '/includes/regions_inc/inc_region_zone_3.html.twig' %}

  </div>
  <!-- /zone-3 -->
  <!--______________ ZONE 4 ________________ -->
  <div {{ zone4_attribute.addClass(zone4_classes).setAttribute('id', 'zone-4') }}>

    {% if node.field_lycee_gmap is not empty %}
      <aside {{ planLycee_attribute.addClass(planLycee_classes) }}>
        {{ content.field_lycee_gmap.0 }}
      </aside>
    {% endif %}

    {% if node.field_type_galerie_image is not empty %}
      <aside {{ vueblocgalerie_attribute.addClass(vueblocgalerie_classes) }}>
        {{ content.field_type_galerie_image.0 }}
      </aside>
    {% endif %}

    {% include directory ~ '/includes/regions_inc/inc_region_zone_4.html.twig' %}
    {% if content.links %}
      <div class="links">
        {{ content.links }}
      </div>
      <!-- /.links -->
    {% endif %}
  </div>
  <!-- /zone-4 -->
</article>
<!-- /.node -->