{#
/* 02/2019 Liste les fichiers uploadés par
* filefield and linkfield  avec création d'une liste dynamique, exclusion des champs vides
#}

{# ---*** Les classes à appliquer aux éléments  ***--- #}
{% set champ1_attribute = create_attribute() %}
{% set bloc_attribute = create_attribute() %}

{% set champ1_classes = [
'champ-' ~ node.field_fichier_joint.fieldDefinition.name | replace({"_" : "-"}),
'titre-' ~ node.bundle|clean_class
]%}
{% set bloc_classes = [
'bloc_docs_utiles',
'docs-enseignant'
]%}

{# ---*** Le contenu de l'include ***--- #}
{% if node.field_fichier_joint.value is not empty %}
  {# Si besoin de classe spécifique, utiliser celle du nom du champ#}
  <div {{ bloc_attribute.addClass(bloc_classes) }}>
    {# Affichage des étiquettes des champs en tant que titres #}
    <span {{ champ1_attribute.addClass(champ1_classes) }}>
      {{ content.field_fichier_joint|field_label }}
    </span>
    <ul>
      {# //Parcourir le tableau field_NAME de l'objet $node pour lister le contenu clé/valeur #}
      {% for key, fichier in node.field_fichier_joint.value %}
        {# //Ne pas afficher les champs vides du tableau #}
        {% if node.field_fichier_joint.value is not empty %}
          <li>{{ content.field_fichier_joint[key] }}</li>
        {% endif %}
      {% endfor %}

    </ul>
    {# Fin liste des Fichiers #}
  </div>
{% endif %}