<head>

  <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}
    </title>

    {#<!-- Meta RWD -->#}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {#<!-- stats-SEO -->#}
    <meta name="google-site-verification" content="msBEDS9QaIIEpzPS6_Wi-HOzKWr1Kw0dageOmF-4rbs"/>
    <meta name="y_key" content="11677ed5e2db4f15"/>
    <meta name="msvalidate.01" content="E2114447554473259DE0996EF11B87E0"/>
    {#  Code pour scan par https://detectify.com #}
    <meta name="detectify-verification" content="8497102470e46552eeca2eb8a07b7910"/>

    {# chargement des CSS #}
    <!-- ___Chargement des CSS HEAD _____ -->
    <css-placeholder token="{{ placeholder_token }}">
      <!-- ___ // Fin Chargement des CSS HEAD _____ -->
      {#  IMPORTANT : charger les librairies externes avant les scripts !!
        Tous les JS se chargent en fin de page via html.html.twig et <js-bottom-placeholder>
      #}
      <!-- ___ Chargement des JS HEAD _____ -->
      {% include directory ~ '/includes/inc_js_externe.html.twig' %}
      <js-placeholder token="{{ placeholder_token }}"></head>
      <!-- ___ // Fin Chargement des JS HEAD _____ -->

      {% set classes = [] %}
      {% for role in user.roles %}
        {% set classes = classes|merge(['role--' ~ role|clean_class]) %}
      {% endfor %}

      {% set sidebar_first = page.sidebar_first | render %}
      {% set sidebar_second = page.sidebar_second | render %}
      <body{{ attributes.addClass(classes, not is_front ? 'with-subnav', sidebar_first ? 'sidebar-first', sidebar_second ? 'sidebar-second', (sidebar_first and not sidebar_second) or (sidebar_second and not sidebar_first) ? 'one-sidebar', (sidebar_first
      and sidebar_second) ? 'two-sidebars', (not sidebar_first and not sidebar_second) ? 'no-sidebar' ) }}>

        <!-- ______________________ PAGE TOP BANDEAU _______________________ -->

        <!-- ______________________ CONTENEUR _______________________ -->
        <section class="conteneur">
          {# #}
          {% include directory ~ '/includes/inc_bandeau_off_canvas_susy.html.twig' %}
          {# #}
          <!-- ______________________ HEADER _______________________ -->
          <header id="header">

            <div class="headHaut">

              {# !!! IMPORTANT !!!
 Le logo du site est affiché via le tpl block--system-brandingbranding-block.html.twig
   Il s'affiche avec le slogan du site, voir plus bas.
   Ajouter classes nécessaires dans le template du block.
        #}

              {#
/**
Positionner le slogan (Identité) du site dans cette région ( D9 v2022)
le bloc Menu Général suffit (avec classe mobilenav) + bloc avec JS (sans editeur)
*/
#}
              {% if page.menuDyn is not empty %}
                <nav class="menuOver">
                  {{ page.menuDyn}}
                  {# Menu hamburger
<!-- <a href="javascript:void(0)" class="icon"> <div class="hamburger"> <div class="menui top-menu"></div> <div class="menui mid-menu"></div> <div class="menui bottom-menu"></div> </div> </a>-->
#}
                </nav>

                <!-- /menuHead -->
              {% endif %}

            </div>
            <!-- /headHaut -->
            <div class="headBas">

              {% if page.site_slogan is not empty %}
                <div class="site-slogan">
                  {{ page.site_slogan}}
                </div>
                <!-- /site-slogan -->
              {% endif %}

              {% if page.mission is not empty %}
                <div class="objectif">
                  {{ page.mission}}
                </div>
                <!-- /site-mission -->
              {% endif %}
              {# D9v2022. Positionner ici le formulaire de recherche #}
              {% if page.search_box is not empty %}
                <div class="headSearch">
                  {{ page.search_box}}
                </div>
              {% endif %}
              <!-- /recherche -->

            </div>
            <!-- /headBas -->
            {# D9v2022. Positionner ici tout bloc relatif à la Navigation (Superfish)#}
            {% if page.navStatic is not empty %}
              {{ page.navStatic}}
            {% endif %}
            <!-- /navStatic -->
            {# D9v2022. Positionner ici la fil d'ariane ( breadcrumb) #}
            {% if page.ariane is not empty %}
              <div class="fil_ariane">
                {{page.ariane}}
              </div>
            {% endif %}
            <!-- /fild_ariane -->

          </header>
          <!-- /header -->